@use 'variaveis';
@use 'mixinsHeader';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: variaveis.$fonte-base;
  background: linear-gradient(135deg, variaveis.$cor-fundo 0%, #e2e8f0 100%);
  color: variaveis.$cor-texto;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  gap: variaveis.$espacamento;
  max-width: 1400px;
  margin: 0 auto;
  padding: variaveis.$espacamento;
}



/* Rodapé */
.rodape {
  text-align: center;
  padding: 1rem;
  background-color: #e0e0e0;
  font-size: 0.9rem;
}